{% extends 'videos/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="container">
		<div class="row mt-5">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<video-js
					width="720"
					height="405"
					controls
					data-setup='{"playbackRates": [0.5, 1, 1.5, 2], "fluid": true}'>
					<source src="/media/{{ object.video_file }}" type="video/mp4">
					<p class="vjs-no-js">
					Для просмотра этого видео, пожалуйста, включите Javascript и перейдите в браузер, который <a href="https://videojs.com/html5-video-support/" target="_blank">поддерживает HTML5.</a>
					</p>
				</video-js>


				<div class="prikol">
                    <h5 class="mt-4">{{ object.title }}</h5>
                    <div class="top">
                        <form method="post" action="{% url 'like' video.pk %}">
                            {% csrf_token %}
                            <div class="btn like">
                                <input type="hidden" name="text" value="{{ request.path }}">
                                <button style="background: transparent; border: none; box-shadow: none;" type="submit">
                                 <ion-icon name="thumbs-up-outline"></ion-icon>
                                 <span>{{ video.likes.all.count }}</span>
                                 </button>
                            </div>

                            </form>


           <form method="post" action="{% url 'dislike' video.pk %}">
              {% csrf_token %}
              <div class="btn dislike">
                  <input type="hidden" name="text" value="{{ request.path }}">
                  <button style="background: transparent; border: none; box-shadow: none;" type="submit">
                     <ion-icon name="thumbs-down-outline"></ion-icon>
                      <span>{{ video.dislikes.all.count }}</span>
                  </button>
              </div>
           </form>
    </div>
                </div>


				<div class="row">
					<div class="col-md-6 text-muted">
						<p>{{ object.date_posted | date:"M d, Y" }}</p>
					</div>
					<div class="col-md-6 text-muted text-right">

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        </div>
                        </div>
                    </div>

			</div>
		</div>

		{% if object.uploader == user %}
			<a class="video-icons icon-color" href="{% url 'video-update' object.pk %}"><ion-icon name="pencil-outline"></ion-icon></a>
			<a class="video-icons icon-color" href="{% url 'video-delete' object.pk %}"><ion-icon name="close-outline"></ion-icon></a>
		{% endif %}
	</div>





</div>
    <div class="row mt-3">
        <div class="col-md-8 col-sm-12">
            {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                <legend class="border-bottom mb-4"><ion-icon name="chatbubbles-outline"></ion-icon>   Комментарии:</legend>
                {{ form | crispy }}
                <button class="btn btn-outline-info btn-block">Опубликовать</button>
            </form>

            {% else %}
            <a class="btn btn-outline-info btn-block" href="{% url 'account_login' %}">Войдите, чтобы оставить комментарий</a>
            {% endif %}
        </div>
    </div>

    {% for comment in comments %}
    <div class="row mt-3">
        <div class="col-md-8 col-sm-12 border-bottom">
            <h5>{{ comment.user }}:</h5>
            <p>{{ comment.comment }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
